<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(() => {
            $('#agente').hide()
            $('#cliente').show()
            $('[name=tipoUsuario]').each(function () {
                $(this).change(function () {
                    if ($(this).val() == 'cliente') {
                        $('#cliente').show()
                        $('#agente').hide()
                        $('#form').prop('action', '/cliente/new')
                    } else if ($(this).val() == 'agente') {
                        $('#agente').show()
                        $('#cliente').hide()
                        $('#form').prop('action', '/agente/new')
                    }
                })
            })
        })

    </script>

    <title>Novo usuario</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <h1 class="col-12 text-center">Formulario de novo usuario</h1>
        </div>

        <div class="row justify-content-center">
            <div class="col-10">
                <form id="form" action="/cliente/new" method="post">
                    <!-- Dados de usuario -->
                    <div class="row ">
                        <h3 class="col-12 text-center">Dados de usuário</h3>
                        <div class="mb-3 col-6">
                            <label class="form-label">Nome</label>
                            <input class="form-control" type="text" name="nome">
                        </div>
                        <div class="mb-3 col-6">
                            <label class="form-label">Email</label>
                            <input class="form-control" type="email" name="email">
                        </div>
                        <div class="mb-3 col-4">
                            <label class="form-label">Senha</label>
                            <input class="form-control" type="password" name="senha">
                        </div>
                    </div>
                    <!-- Dados de endereço -->
                    <div class="row ">
                        <h3 class="col-12 text-center">Endereço</h3>
                        <div class="mb-3 col-5">
                            <label class="form-label">Rua</label>
                            <input class="form-control" type="text" name="rua">
                        </div>
                        <div class="mb-3 col-5">
                            <label class="form-label">Bairro</label>
                            <input class="form-control" type="text" name="bairro">
                        </div>
                        <div class="mb-3 col-2">
                            <label class="form-label">Numero</label>
                            <input class="form-control" type="number" name="numero">
                        </div>
                        <div class="mb-3 col-6">
                            <label class="form-label">Cidade</label>
                            <input class="form-control" type="text" name="cidade">
                        </div>
                        <div class="mb-3 col-6">
                            <label class="form-label">Estado</label>
                            <input class="form-control" type="text" name="estado">
                        </div>
                    </div>
                    <!-- Tipo de usuario -->
                    <div class="row justify-content-center">
                        <h3 class="col-12 text-center">Tipo de usuário</h3>
                        <div class="form-check col-auto">
                            <input class="form-check-input" type="radio" name="tipoUsuario" id="radioCliente"
                                value="cliente" checked>
                            <label class="form-check-label" for="radioCliente">
                                Cliente
                            </label>
                        </div>
                        <div class="form-check col-auto">
                            <input class="form-check-input" type="radio" name="tipoUsuario" id="radioAgente"
                                value="agente">
                            <label class="form-check-label" for="radioAgente">
                                Agente
                            </label>
                        </div>
                    </div>
                    <!-- Dados de agente -->
                    <div class="row" id="agente">
                        <h3 class="col-12 text-center">Dados jurídicos</h3>
                        <div class="mb-3 col-6">
                            <label class="form-label">CNPJ</label>
                            <input class="form-control" type="text" name="cnpj">
                        </div>
                        <div class="mb-3 col-6">
                            <label class="form-label">Tipo</label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="tipoAgente" id="radioEmpresa"
                                        value="EMPRESA">
                                    <label class="form-check-label" for="radioEmpresa">
                                        Empresa
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="tipoAgente" id="radioBanco"
                                        value="BANCO">
                                    <label class="form-check-label" for="radioBanco">
                                        Banco
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Dados de cliente -->
                    <div class="row" id="cliente">
                        <h3 class="col-12 text-center">Dados jurídicos</h3>
                        <div class="mb-3 col-6">
                            <label class="form-label">RG</label>
                            <input class="form-control" type="text" name="rg">
                        </div>
                        <div class="mb-3 col-6">
                            <label class="form-label">CPF</label>
                            <input class="form-control" type="text" name="cpf">
                        </div>

                        <!--  Dados de profissão -->
                        <h3 class="col-12 text-center">Profissão</h3>
                        <div class="mb-3 col-4">
                            <label class="form-label">Cargo</label>
                            <input class="form-control" type="text" name="cargo">
                        </div>
                        <div class="mb-3 col-4">
                            <label class="form-label">Empregador</label>
                            <input class="form-control" type="text" name="empregador">
                        </div>
                        <div class="mb-3 col-4">
                            <label class="form-label">Rendimentos</label>
                            <input class="form-control" type="number" step="0.01" name="rendimentos">
                        </div>
                    </div>
					<button type="submit" class="btn btn-primary">Cadastrar</button>
                </form>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


    </body>

</html>